body{
    width: 50%;
    background-color: gray;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 10px;
}
img{
    border-radius: 20%;
    text-align: center;
}
h1, h3, p, h4, ul, h5, footer{
    color: rgba(0, 255, 119, 0.739);
}