body{
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

h1, h3, p, h4, ul, h5, footer{
    color: rgba(0, 255, 119, 0.739);
}

.foto{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.nome{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}