body{
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

h1, h3, p, h4, ul, h5, footer{
    color: red;
}

.foto{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.nome{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.resumo{
    width: 50%;
    display: inline-block;
}

.formacoes{
    border-top: 2px solid black; 
}

.experiencias{
    border-top: 2px solid black; 
}

.infos{
    border-top: 2px solid black; 
}

.social{
    display: inline-block;
 
}
.social img{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
}